@font-face {
    font-family: "Phenomena";
    src: url("../fonts/Phenomena-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@import 'tailwindcss';
@import './footer.css';
@import './header.css';
@import './index.css';
@import './preguntas-frecuentes.css';
@import './terminos-condiciones.css';
@import './politicas-devolucion.css';
@import './proyectos.css';
@import './libro-reclamaciones.css';
@import './sobre-nosotros.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}